@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


.main-foot {
    background-color: #464646;
    font-family: "Open Sans";
    

}

.footer {
    background-color: #464646;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    justify-content: space-between;
  }

.footer__lien_title {
    text-decoration: none;
    color: var(--white--text);
  }
  
  .footer__title {
    transform: scale(30%);
  }

  .footer__menu {
    text-transform : uppercase;
    color: var(--white--text);
    font-family: "Open Sans";
    font-size: 12px;
  }

  .footer__description {
    color: var(--grey--text);
    font-family: "Open Sans";
    font-size: 12px;
  }

  .footer__link {
    color: var(--grey--text);
  }

  .footer__logo {
    max-width: 15%;
    padding-top: -1rem;
  }

.footer__menu-item {
  text-decoration: none;
  color: var(--white--text);
}