@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


.main-foot {
    background-color: #464646;
    font-family: "Open Sans";
    padding-top: 70px;
}

.logo-footer {
    transform: scale(20%);
    position: absolute;
    top: 190%;
}