@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300&display=swap');

.main-foot {
    background-color: #464646;
    font-family: "Open Sans";
}

.footer {
    background-color: #464646;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: var(--space2x) var(--space3x);
    justify-content: space-between;
  }

 .footer_title {
    text-align: center;
    margin-top: 5px;
 } 

.footer_lien_title {
    text-decoration: none;
    color: white;
  }
  

  .footer_menu {
    text-transform : uppercase;
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    margin-left: 45px;
    margin-right: 45px;
    text-align: center;
  }

  .footer_description {
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }

  .footer_link {
    color: white;
    text-decoration: underline;
  }

  .footer_logo {
    max-width: 15%;
    margin-left: 160px;
    padding-bottom: 10px
  }

.footer_menu-item {
  text-decoration: none;
  color: var(--white--text);
}

.footer_mmi_text {
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    margin-left: 105px;
    margin-right: 55px;
    text-align: center;
    line-height: 15px;
}

.elements_menu {
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.footer_description2 {
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
  }

  .footer_link2 {
    color: white;
  }

  .footer_description3 {
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    margin-left: 45px;
    margin-right: 25px;
    text-align: center;
  }

  .footer_link3 {
    color: white;
  }

  .logo_footer {
    max-width: 20%;
    margin-left: 160px;
    padding-bottom: 10px
  }

  .footer_down {
    display: flex;
  }

  .logo_social1 {
    margin-left: 5px;
    transform: scale(50%);
    width: 90px;
  }

  .logo_social2 {
    margin-left: 125px;
    transform: scale(60%);
    width: 105px;
  }