@font-face {
    font-family: "Reactive";
    src: url("/src/fonts/Reactive/Reactive.otf") format("opentype")
}

html {
font-size: 72.5%;
}

body {
    font-size: 1.6rem; /* équivaut à 16 px*/
    font-family: "Reactive";
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #9A0000 ;
}