body{
    background-color: #535353;
    color: white;
}

.article4_accueil {
  transform: scale(90%);
}

.article5_accueil {
  transform: scale(90%);
}

.article6_accueil {
  transform: scale(90%);
}

.rectangle_noir1 {
  transform: scale(80%);
  position: absolute;
  top: 78%;
}

.rectangle_noir2 {
  transform: scale(80%);
  position: absolute;
  top: 119.4%;
}

.rectangle_noir3 {
  transform: scale(80%);
  position: absolute;
  top: 160.5%;
}