body{
    background-color: #535353;
    color: white;
}

.article4_accueil {
  transform: scale(90%);
}

.article5_accueil {
  transform: scale(90%);
  padding-top: 70px;
}

.article6_accueil {
  transform: scale(90%);
  padding-top: 70px;
}

.rectangle_noir1 {
  transform: scale(80%);
  position: absolute;
  top: 82%;
}

.rectangle_noir2 {
  transform: scale(80%);
  position: absolute;
  top: 132.4%;
}

.rectangle_noir3 {
  transform: scale(80%);
  position: absolute;
  top: 182%;
}